DJANGO_SECRET_KEY=your-security-password
DJANGO_DEBUG=True

POSTGRES_DB=your-databas-name
POSTGRES_USER=your-database-username
POSTGRES_PASSWORD=your-database-password
POSTGRES_HOST=127.0.0.1 or localhost
POSTGRES_PORT=5432

FRONTEND_URL=your-frontend-url


EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=your-gmail-address@gmail.com
EMAIL_HOST_PASSWORD=your-gmail-app-password
EMAIL_USE_TLS=True

DEFAULT_FROM_EMAIL=Online Learning Platform <your-gmail-address@gmail.com>


GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_REDIRECT_URI=http://localhost:8000/accounts/google/login/callback/

# Supabase PostgreSQL Database
DATABASE_URL=postgresql://postgres.mxqelsufckogbmqsrspp:[YOUR-PASSWORD]@aws-1-eu-west-3.pooler.supabase.com:6543/postgres

